extends  layout
block main

    .row
        .col.s3
            div#cat_list.collection.with-header

        .col.s9
            #product_block


block javascript
    script(src='/assets/js/category.js')