extends  layout

block header
    #wrapper
        #top-space
            nav#top-space-nav-bar
                a.homepage-link(href='#')
                    img.logo-pic(src='/assets/img/logo.png', alt='dash')
                .header-search-container
                    a#btn_cat.dropdown-button.btn(data-activates='dropdown1')
                        p categories
                        i.material-icons arrow_drop_down
                    ul(id='dropdown1' class='dropdown-content')
                    input#header-search-field.input(type='text' name='search-field' placeholder="What is your brand or product?")
                    a#header-search-button.waves-effect.waves-light.btn
                        i.fa.fa-search
                        p Search
                #user-nav-ul
                    ul.right.user-login
                        if isLoggedIn
                            li
                                img.profile-pic(src=user.image class="circle responsive-img")
                            li
                                a.button.alt.dropdown-button.profile-btn(data-activates='dropdown_user')="Welcome, " + user.name
                        else
                            li
                                a.button.alt.login-btn(href='/login') Log in

                    ul(id='dropdown_user' class='dropdown-content')
                        li
                            a(href=user.profileUrl) Profile
                        li.divider
                        li
                            a(href="/logout" style="color: #f6755f") Logout

block main
    .row.content
        #cat-list-wrapper.col.s3
            div#cat_list.collection.with-header

        .col.s9
            div.category-header.center-align.section
                h2#current_cat
                div#category_breadcrumb.left-align

            div.divider
            div#product_block.section
                #LOM
                    ul#manualUl
                    template#productTemp
                        li
                            #product-item
                                .product-pic
                                    img.pic(src='/assets/img/product-placeholder.png', height='20', width='20')
                                .product-select
                                    a.btn-floating.waves-effect.waves-light.add-selection
                                        i.material-icons add
                                    a.btn-floating.waves-effect.waves-light.remove-selection(style="display:none")
                                        i.material-icons remove
                                    p.productID(style="display:none") something something
                                .product-info
                                    a(href='#')
                                        h3 Product Title - Model
                                    p lorem ipsum dolor sit amet. lorem ipsum dolor sit amet, ipsum dolor sit amet, lorem ipsum dolor sit amet


block stylesheet
    link(rel="stylesheet" href="assets/css/category.css")
block javascript
    script(src='/assets/js/category.js')