extends layout

block stylesheet
    link(rel="stylesheet", href="/assets/css/CompanyCss.css")


block sidebar
    #wrapper
        #top-space
            p.logo MANUALPIK
        a.mobilemenu(href='#sidebar')
            i.icon-reorder
        #sidebar
            #main-nav
                #nav-container
                    #profile.clearfix
                        .portrate.hidden-xs
                        .title
                            h2 Member Since
                            h3 2017
                    ul#navigation
                        li
                            a(href='#Dashboard')
                                .icon.icon-dashboard
                                    img(src='/assets/img/dashboard.png', alt='dash', height='35', width='35')
                                .text Dashboard
                        li
                            a(href='#Manual')
                                .icon.icon-manual
                                    img(src='/assets/img/manuals.png', alt='dash', height='35', width='35')
                                .text Manual
                        li
                            a(href='#......')
                                .icon.icon-edit
                                .text ......
                        li
                            a(href='#......')
                                .icon.icon-time
                                .text ......
                        li
                            a(href='#......')
                                .icon.icon-picture
                                .text ......
                        li
                            a(href='#Settings')
                                .icon.icon-setting
                                    img(src= '/assets/img/settings.png', alt='dash', height='35', width='35')
                                .text Settings
                        li.external
                            a(href='/logout')
                                .icon.icon-logout
                                    img(src='/assets/img/logout.png', alt='dash', height='35', width='35')
                                .text Logout
            .social-icons
                ul
                    li
                        a(href='#')
                            i.icon-facebook
                    li
                        a(href='#')
                            i.icon-twitter
                    li
                        a(href='#')
                            i.icon-linkedin

block main

block javascript
    script(src='/assets/js/companyPageControl.js')


