extends layout

block stylesheet
    link(rel="stylesheet", href="/assets/css/CompanyCss.css")

block header
    #wrapper
        #top-space
            nav#top-space-nav-bar
                a.homepage-link(href='#')
                    img.logo-pic(src='/assets/img/logo.png', alt='dash')
block sidebar
        a.mobilemenu(href='#sidebar')
            i.icon-reorder
        #sidebar
            #main-nav
                #nav-container
                    #profile.clearfix
                        .portrate.hidden-xs
                        .title
                            h2 Member Since
                            h3 2017
                    ul#navigation
                        li.sidebar-active
                            a(href='#Dashboard')
                                .icon.icon-dashboard
                                    .fa.fa-address-card-o
                                .text Dashboard
                        li
                            a(href='#ServiceProviders')
                                .icon.icon-providers
                                    .fa.fa-wrench
                                .text Service providers
                        li.external
                            a(href='/logout')
                                .icon.icon-logout
                                    .fa.fa-sign-out
                                .text Logout

block main

block javascript
    script(src='/assets/js/companyPageControl.js')


