extends CompanyPage


block main
        #main
            #welcome
                p.welcome WELCOME
            #info
                #Manual
                    p.N 0
                    p.T Product Manuals
                #Repr
                    p.N 0
                    p.T Representatives
                #View
                    p.N 0
                    p.T Total Views
                #Com
                    p.N 0
                    p.T Total Comments
            #createRepr
                a(href='/company/createRep')
                    img.addRep(src='../assets/img/AddRep.png', alt='dash', height='35', width='35')
            #separateContext
                #line

                #textContent
                    p.LOR List of Representatives
            #LOR
                template#RepNameTemp
                    li
                        #pic
                            #editPic
                                img.edit(src='../assets/img/Edit.png', alt='edit', height='20', width='20')
                            #deletePic
                                img.delete(src='../assets/img/delete.png', alt='delete', height='20', width='20')

                        p
                ul#RepUL