extends layout

block header
    div.navbar-fixed
        nav#header
            div.nav-wrapper
                a.homepage-link(href='#')
                    img.logo-pic(src='/assets/img/logo.png', alt='dash')
                #user-nav-ul
                    ul.right.user-login
                        if isLoggedIn
                            li
                                img.profile-pic(src=user.image class="circle responsive-img")
                            li
                                a.button.alt.dropdown-button.profile-btn(data-activates='dropdown_user')="Welcome, " + user.name
                        else
                            li
                                a.button.alt.login-btn(href='/login') Log in

                    ul(id='dropdown_user' class='dropdown-content')
                        li
                            a(href=user.profileUrl) Profile
                        li.divider
                        li
                            a(href="/logout" style="color: #f6755f") Logout

block main
    div#product_id(data-id=id)
    .row.content
        .col.s3
            div#cat_list.collection.with-header

        .col.s9
            div#category_breadcrumb.left-align
            div.divider
            h4#product_name
            img#product_image

block stylesheet
    link(rel="stylesheet" href="assets/css/detail_product.css")

block append javascript
    script(src='/assets/js/detailProduct.js')
