extends layout

block header
    #wrapper
        #top-space
            nav#top-space-nav-bar
                a.homepage-link(href='#')
                    img.logo-pic(src='/assets/img/logo.png', alt='dash')
                #user-nav-ul
                    ul.right.user-login
                        if isLoggedIn
                            li
                                img.profile-pic(src=user.image class="circle responsive-img")
                            li
                                a.button.alt.dropdown-button.profile-btn(data-activates='dropdown_user')="Welcome, " + user.name
                        else
                            li
                                a.button.alt.login-btn(href='/login') Log in

                    ul(id='dropdown_user' class='dropdown-content')
                        li
                            a(href=user.profileUrl) Profile
                        li.divider
                        li
                            a(href="/logout" style="color: #f6755f") Logout

block main
    div#product_id(data-id=id)
    if isRepresantive
        div.container
            div.right
                a.btn-floating.waves-effect.waves-light.materialize-red(href='/representatives/updateProduct?id=' + id)
                    i.small.material-icons mode_edit
    .row.content
        #cat-list-wrapper.col.s3
            div#cat_list.collection.with-header

        #product-container.col.s9
            div#category_list.left-align
            div#category_breadcrumb.left-align
            div.divider
            if isCustomer
                .row
                    .col.s7.right-align.offset-s4
                        a.btn.waves-effect.waves-light.add-selection Add Selection
                        a.btn.waves-effect.waves-light.remove-selection(style="display:none") Remove Selection
            .row
                .col.s4
                    img#product_image
                .product-details-left-column.col.s7
                    h4#product_name
                    h5#product_brand BRAND
                    #product_description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            .row
                .col.s4
                    ul#product-gallery
                        li
                            img(src='/assets/img/product-placeholder.png')
                        li
                            img(src='/assets/img/product-placeholder.png')
                        li
                            img(src='/assets/img/product-placeholder.png')
                        li
                            img(src='/assets/img/product-placeholder.png')
                        li
                            img(src='/assets/img/product-placeholder.png')
                        li
                            img(src='/assets/img/product-placeholder.png')

                .product-details-left-column.col.s7
                    h5#manuals-header Manuals
                    div#manual-links
                        //a.manual-doc-link(href='#')
                        //    img(src='assets/img/papers-64.png')
                    ul#material-list.collection
                        //ul.collection
                        //    li.collection-item.avatar
                        //        img.circle(src='images/yuna.jpg', alt='')
                        //        p title
    a#send-message-button.modal-trigger.fixed-action-btn(href='#send-message-modal')
        .waves-effect.waves-circle.waves-light.btn-floating.btn-large
            i.fa.fa-envelope-o
    #send-message-modal.modal
        .modal-content
            .row
                .input-field.col.s12
                    input.validate(placeholder="Title" id="message-title" type="text")
                    label(for="message-title") Title
            .row
                .input-field.col.s12
                    select(name="providers" id="providers" required="true" multiple="true")
                        option(value="" disabled) Choose your categories
                        option(value="1") Option 1
                    label Providers
            .row
                .input-field.col.s12
                    textarea#textarea1.materialize-textarea
                    label(for="textarea1") Textarea
            .row
                p.modal-buttons
                    a.waves-effect.waves-light.btn Update
                    a.waves-effect.waves-light.btn.materialize-red.modal-close Cancel
block stylesheet
    link(rel="stylesheet" href="assets/css/detail_product.css")

block append javascript
    script(src='/assets/js/detailProduct.js')
