extends layout

block header
    div.navbar-fixed
        nav#header
            div.nav-wrapper
                a.brand-logo(href="#") eManual

block main
    h1= message
    h2= error.status
    pre #{error.stack}