extends layout

block header
    div.navbar-fixed
        nav#header
            div.nav-wrapper
                a.brand-logo(href="#") ManualPik

block main
    .container
        h1= message
        h2= error.status
        pre #{error.stack}