extends layout

block header
    div.navbar-fixed
        nav#header
            div.nav-wrapper
                a.homepage-link(href='#')
                    img.logo-pic(src='/assets/img/logo.png', alt='dash')
                #user-nav-ul
                    ul.right.user-login
                        if isLoggedIn
                            li
                                img.profile-pic(src=user.image class="circle responsive-img")
                            li
                                a.button.alt.dropdown-button.profile-btn(data-activates='dropdown_user')="Welcome, " + user.name
                        else
                            li
                                a.button.alt.login-btn(href='/login') Log in

                    ul(id='dropdown_user' class='dropdown-content')
                        li
                            a(href=user.profileUrl) Profile
                        li.divider
                        li
                            a(href="/logout" style="color: #f6755f") Logout
            .container
                a(id="btn_cat" class='dropdown-button btn materialize-red' data-activates='dropdown1') categories
                ul(id='dropdown1' class='dropdown-content')
block main
    #search-widget
        #search-wrapper
            #welcome-title
                h4 Keep your World Running
                h5 A range of user and service manuals
            #search-field-wrapper
                .search-container
                    div#search-field
                        input.input(type='text' name='search-field' placeholder="Search manuals")
                    div#search-button.waves-effect.waves-light.btn
                        i.fa.fa-search
                        input(type='button' name='search-button' value='search')
            a#browse-categories.waves-effect.waves-light.btn(href='/category') Browse categories
    //#main
    #numbers-wrapper
        #stat-numbers
            .stat-item
                p.number 230,000
                p.number-label Products
            .separate-line
            .stat-item
                p.number 700,000
                p.number-label Manuals
            .separate-line
            .stat-item
                p.number 35,000
                p.number-label Brands
            .separate-line
            .stat-item
                p.number 500,000
                p.number-label Users
    #main-content
        #recent-manuals
            h4#recent-products-header Recently added manuals
            #recent-products-list-wrapper
                ul#recent-products-list
                   template#productTemp
                        li
                            img(src='/assets/img/product-placeholder.png')
                            a.btn-floating.waves-effect.waves-light.add-selection
                                i.material-icons add
                            a.btn-floating.waves-effect.waves-light.remove-selection(style="display:none")
                                i.material-icons remove
                            .product-info
                                a(href="#")
                                    h6 Product-name
            #load-more-button-wrapper
                a#load-more-button(href="#")
                    i.fa.fa-plus-circle
                    p Load more




block stylesheet
    link(rel="stylesheet" href="assets/css/index.css")
block javascript
    script(src='/assets/js/index.js')