extends layout

block header
    div.navbar-fixed
        nav#header
            div.nav-wrapper
                a.brand-logo(href="#")
                    img(src="assets/img/logo.png")
                ul.right
                    li
                        a.button.alt(href='/login') Log in
            div
                a(class='dropdown-button btn' href='#' data-activates='dropdown1') categories
                ul(id='dropdown1' class='dropdown-content')
                    li
                        a(href="#!") one
                    li
                        a(href="#!") two
                    li
                        a(href="#!") three
                    li
                        a(href="#!") four

block stylesheet
    link(rel="stylesheet" href="assets/css/index.css")
block javascript
    script(src='/assets/js/index.js')