extends layout

block header
    div.navbar-fixed
        nav#header
            div.nav-wrapper
                a.homepage-link(href='#')
                    img.logo-pic(src='/assets/img/logo.png', alt='dash')
                #user-nav-ul
                    ul.right.user-login
                        if isLoggedIn
                            li
                                img.profile-pic(src=user.image class="circle responsive-img")
                            li
                                a.button.alt.dropdown-button.profile-btn(data-activates='dropdown_user')="Welcome, " + user.name
                        else
                            li
                                a.button.alt.login-btn(href='/login') Log in

                    ul(id='dropdown_user' class='dropdown-content')
                        li
                            a(href=user.profileUrl) Profile
                        li.divider
                        li
                            a(href="/logout" style="color: #f6755f") Logout
            .container
                a(id="btn_cat" class='dropdown-button btn materialize-red' data-activates='dropdown1') categories
                ul(id='dropdown1' class='dropdown-content')
block main


block stylesheet
    link(rel="stylesheet" href="assets/css/index.css")
block javascript
    script(src='/assets/js/index.js')