doctype html
html
    head
        base(href='/')
        title="MANUALPIK"
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="shortcut icon" href="assets/favicon-16x16.png" type="image/png")
        link(rel="icon" href="assets/favicon-32x32.png" type="image/png")
        link(rel="stylesheet" href="assets/css/materialize.css")
        link(rel="stylesheet" href="assets/css/fonts.css")

        block stylesheet

    body
        header
            block header

        main
            block sidebar
            block main

        footer
            block footer

        script(src='assets/js/jquery-3.2.1.min.js')
        script(src='assets/js/jquery.form.min.js')
        script(src='assets/js/materialize.min.js')
        script(src='https://use.fontawesome.com/e8327fafeb.js')
        block javascript