doctype html
html
    head
        base(href='/')
        title="ManualPik"
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="shortcut icon" href="assets/favicon-16x16.png" type="image/png")
        link(rel="icon" href="assets/favicon-32x32.png" type="image/png")
        link(rel="stylesheet" href="assets/css/materialize.css")
        link(rel="stylesheet" href="assets/css/font-awesome.min.css")
        link(rel="stylesheet" href="assets/css/fonts.css")
        link(rel="stylesheet" href="assets/css/layout.css")

        block stylesheet

    body
        header
            block header

        main
            block sidebar
            block main

        footer
            block footer
                footer.page-footer
                    .container
                        .row
                            .col.l6.s12
                                h5.white-text Footer Content
                                p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
                            .col.l4.offset-l2.s12
                                h5.white-text Links
                                ul
                                    li
                                        a.grey-text.text-lighten-3(href='#!') Link 1
                                    li
                                        a.grey-text.text-lighten-3(href='#!') Link 2
                                    li
                                        a.grey-text.text-lighten-3(href='#!') Link 3
                                    li
                                        a.grey-text.text-lighten-3(href='#!') Link 4
                    .footer-copyright
                        .container
                            | © 2014 Copyright Text
                            a.grey-text.text-lighten-4.right(href='#!') More Links

        script(src='assets/js/jquery-3.2.1.min.js')
        script(src='assets/js/jquery.form.min.js')
        script(src='assets/js/materialize.min.js')
        script(src='assets/js/ui-actions.js')
        block javascript