doctype html
html
    head
        title= eManual
        link(rel="stylesheet", href="assets/css/style.css")
        block stylesheet
    body
        block content

        script(src='assets/js/jquery-3.2.1.min.js')
        block javascript