extends layout


block stylesheet
    link(rel="stylesheet" href="assets/css/login.css")

block main
    div.content
        div.login-box
            ul.tabs
                li.tab
                    a(href='#sign_in' class="active") Sign in
                li.tab
                    a(href='#sign_up') Sign up


            div#sign_in.col.s12
                form.login-form(action="/auth/login" method="post" class="login-form")
                        .group
                            label.label(for='user') E-MAIL
                            input#user.input(type='text' name='email' required)
                        .group
                            label.label(for='pass') PASSWORD
                            input#pass.input(type='password', data-type='password' name='password' required)
                        .group
                            input#check(type='checkbox' class="filled-in")
                            label(for='check')
                                span Keep me Signed in
                        .group
                            if (message.length > 0)
                                p(class="login-error center")=message
                            input.button(type='submit', value='Sign In')
                        .hr
                        .foot-lnk
                            a(href='#forgot') Forgot Password?
            div#sign_up.col.s12(style="display:none")
                form#signUp.login-form(action="/auth/create" method="post" class="login-form")
                    .group
                        label.label(for='user') Username
                        input#user.input(type='text',name = 'user' required)
                    .group
                        label.label(for='pass') Password
                        input#pass.input(type='password', name='pass' data-type='password' required)
                    .group
                        label.label(for='pass') Repeat Password
                        input#pass.input(type='password',name='repass', data-type='password' required)
                    .group
                        label.label(for='pass') Email Address
                        input#pass.input(type='text',name ='email' required)
                    .group
                        input.button(type='submit', value='Sign Up')
                    .hr
                    .foot-lnk
                        a#navigate_sign_in(href="#sign_in") Already Member?

block javascript
    script(src='/assets/js/login.js')