extends RepresentativesPage

block main
    #main
        #company-logo
            .company-logo

        #manuals-list-header
            #manuals-list-title List of products
            #createProd
                a(href='/representatives/createProduct')
                    img.addProd(src='../assets/img/AddProd.png', alt='dash', height='30', width='30')

        #separateContext
            #line
        #LOM
            ul#manualUl
                li
                    #product-item
                        .product-pic
                            img.pic(src='../assets/img/product-placeholder.png', alt='delete', height='20', width='20')
                        .product-info
                            h3 Product Title - Model
                            p lorem ipsum dolor sit amet. lorem ipsum dolor sit amet, ipsum dolor sit amet, lorem ipsum dolor sit amet
                        .product-edit
                            img.edit(src='../assets/img/Edit.png', alt='edit', height='20', width='20')
                        .product-delete
                            img.delete(src='../assets/img/delete.png', alt='delete', height='20', width='20')

