extends layout

block stylesheet
    link(rel="stylesheet", href="/assets/css/representative.css")
block header
    #wrapper
        #top-space
            nav#top-space-nav-bar
                a.homepage-link(href='#')
                    img.logo-pic(src='/assets/img/logo.png', alt='dash')
                .header-search-container
                    a#btn_cat.dropdown-button.btn(data-activates='dropdown1')
                        p categories
                        i.material-icons arrow_drop_down
                    ul(id='dropdown1' class='dropdown-content')
                    input#header-search-field.input(type='text' name='search-field' placeholder="What is your brand or product?")
                    a#header-search-button.waves-effect.waves-light.btn
                        i.fa.fa-search
                        p Search
                #user-nav-ul
                    ul.right.user-login
                        li
                            a.button.alt.dropdown-button.profile-btn(data-activates='dropdown_user')="Welcome, " + name

                    ul(id='dropdown_user' class='dropdown-content')
                        li
                            a(href='#') Homepage
                        li.divider
                        li
                            a(href="/logout" style="color: #f6755f") Logout


block sidebar
        a.mobilemenu(href='#sidebar')
            i.icon-reorder
        #sidebar
            #main-nav
                #nav-container
                    #welcome-repr
                        h2 Welcome
                    #profile.clearfix
                        .portrate.hidden-xs
                        .title
                            h2=name
                    ul#navigation
                        li.sidebar-active
                            a(href='/representatives/dashboard')
                                .icon.icon-dashboard
                                    .fa.fa-address-card-o
                                .text Dashboard
                        li
                            a(href='/representatives/serviceprovider')
                                .icon.icon-providers
                                    .fa.fa-wrench
                                .text ServiceProvider
                        li
                            a(href='#Settings')
                                .icon.icon-setting
                                    .fa.fa-cog
                                .text Settings

                        li.external
                            a(href='/logout')
                                .icon.icon-logout
                                    .fa.fa-sign-out
                                .text Logout
block main
    //a(href='/representatives/createProduct' class="btn") Add Product