extends RepresentativesPage

block main
    #main
        #company-logo

        #manuals-list-header
            .row
                #manuals-list-title List of Service Providers
            .row.control-panel

        #separateContext
            #line

        #LOM
            template#serviceProviderTemp
                li
                    #product-item
                        .product-info
                            a
                                h3 Product Title - Model
                            p Our Company is more than a green maintenance company, it is a promise to provide high-quality service that will help make the world better one green home at a time.
                        .product-select
                            a.btn-floating.waves-effect.waves-light.add-selection
                                i.material-icons add
                            a.btn-floating.grey.darken-3.waves-effect.waves-light.remove-selection(style="display:none")
                                i.material-icons remove
                            p.servicProviderID(style="display:none") something something
            ul#serviceUl



block javascript
    script(src='/assets/js/representativeServiceProviders.js')
