extends RepresentativesPage

block main
    #main
        #company-logo
            .company-logo


        #LOM
            template#serviceProviderTemp
                li
                    #product-item
                        .product-info
                            a
                                h3 Product Title - Model
                            p lorem ipsum dolor sit amet. lorem ipsum dolor sit amet, ipsum dolor sit amet, lorem ipsum dolor sit amet
                        .product-delete
                            img.delete(src = '../assets/img/delete.png', alt = 'delete', height = '20', width = '20')
            ul#serviceUl



block javascript
    script(src='/assets/js/representativeServiceProviders.js')
