extends layout

block stylesheet
    link(rel="stylesheet", href="/assets/css/representative.css")
block header
    #wrapper
        #top-space
            nav#top-space-nav-bar
                a.homepage-link(href='#')
                    img.logo-pic(src='/assets/img/logo.png', alt='dash')


block sidebar
        a.mobilemenu(href='#sidebar')
            i.icon-reorder
        #sidebar
            #main-nav
                #nav-container
                    #welcome-repr
                        h2 Welcome
                    #profile.clearfix
                        .portrate.hidden-xs
                        .title
                            h2=name
                    ul#navigation
                        li.sidebar-active
                            a(href='/representatives/dashboard')
                                .icon.icon-dashboard
                                    .fa.fa-address-card-o
                                .text Dashboard
                        li
                            a(href='/representatives/serviceprovider')
                                .icon.icon-providers
                                    .fa.fa-wrench
                                .text ServiceProvider
                        li
                            a(href='#Settings')
                                .icon.icon-setting
                                    .fa.fa-cog
                                .text Settings

                        li.external
                            a(href='/logout')
                                .icon.icon-logout
                                    .fa.fa-sign-out
                                .text Logout
block main
    //a(href='/representatives/createProduct' class="btn") Add Product