extends RepresentativesPage

block main
    #main
        #company-logo
            .company-logo

        #manuals-list-header
            #manuals-list-title List of Products

            #createProd
                a.waves-square.waves-light.btn.secondary-content(href='/representatives/createProduct')
                    i.material-icons add

                .container
                    a(id="btn_cat" class='dropdown-button btn' data-activates='dropdown1') sort by
                        i.material-icons keyboard_arrow_down

                    ul(id='dropdown1' class='dropdown-content')
                        li(id='count')
                            a Most selected
                        li(id='countR')
                            a Least selected
                        li(id='name')
                            a Ascending:A-Z
                        li(id='nameR')
                            a Descending:Z-A
        #separateContext
            #line
        #LOM
            template#productTemp
                li
                    #product-item
                        .product-pic
                            img.pic(src='../assets/img/product-placeholder.png', height='20', width='20')
                        .product-info
                            a
                                h3 Product Title - Model
                            p1   Selected by: 0
                            p lorem ipsum dolor sit amet. lorem ipsum dolor sit amet, ipsum dolor sit amet, lorem ipsum dolor sit amet
                        .product-edit
                            a
                                img.edit(src='../assets/img/Edit.png', alt='edit', height='20', width='20')
                        .product-delete
                            img.delete(src = '../assets/img/delete.png', alt = 'delete', height = '20', width = '20')
            ul#manualUl



block javascript
    script(src='/assets/js/representativeDashboardControl.js')
