extends RepresentativesPage

block main
    #main
        #company-logo
            .company-logo

        #manuals-list-header
            #manuals-list-title List of products
            #createProd
                a.waves-effect.waves-circle.waves-light.btn-floating.secondary-content(href='/representatives/createProduct')
                    i.material-icons add


        #separateContext
            #line
        #LOM
            ul#manualUl
                template#productTemp
                    li
                        #product-item
                            .product-pic
                                img.pic(src='../assets/img/product-placeholder.png', alt='delete', height='20', width='20')
                            .product-info
                                a
                                    h3 Product Title - Model
                                p lorem ipsum dolor sit amet. lorem ipsum dolor sit amet, ipsum dolor sit amet, lorem ipsum dolor sit amet
                            .product-edit
                                img.edit(src='../assets/img/Edit.png', alt='edit', height='20', width='20')
                            .product-delete
                                img.delete(src = '../assets/img/delete.png', alt = 'delete', height = '20', width = '20')

block javascript
    script(src='/assets/js/representativeDashboardControl.js')