extends RepresentativesPage

block main
    #main
        #company-logo
            .company-logo

        #manuals-list-header
            #manuals-list-title List of products
            #createProd
                a.waves-effect.waves-circle.waves-light.btn-floating.secondary-content(href='/representatives/createProduct')
                    i.material-icons add

        .container
            a(id="btn_cat" class='dropdown-button btn materialize-red' data-activates='dropdown1') sort by
            ul(id='dropdown1' class='dropdown-content')
                li(id='count')
                    a Count
                li(id='name')
                    a Name
            a(id="order" class='btn materialize-red') Order
        #separateContext
            #line
        #LOM
            template#productTemp
                li
                    #product-item
                        .product-pic
                            img.pic(src='../assets/img/product-placeholder.png', height='20', width='20')
                        .product-info
                            a
                                h3 Product Title - Model
                            p1   Selected by: 0
                            p lorem ipsum dolor sit amet. lorem ipsum dolor sit amet, ipsum dolor sit amet, lorem ipsum dolor sit amet
                        .product-edit
                            a
                                img.edit(src='../assets/img/Edit.png', alt='edit', height='20', width='20')
                        .product-delete
                            img.delete(src = '../assets/img/delete.png', alt = 'delete', height = '20', width = '20')
            ul#manualUl



block javascript
    script(src='/assets/js/representativeDashboardControl.js')
