extends layout

block append stylesheet
    link(rel="stylesheet", href="/assets/css/SpamEmail.css")

block header
    #wrapper
        #top-space
            nav#top-space-nav-bar
                a.homepage-link(href='#')
                    img.logo-pic(src='/assets/img/logo.png', alt='dash')
                .header-search-container
                    a#btn_cat.dropdown-button.btn(data-activates='dropdown1') categories
                    ul(id='dropdown1' class='dropdown-content')
                    input#header-search-field.input(type='text' name='search-field' placeholder="What is your brand or product?")
                    a#header-search-button.waves-effect.waves-light.btn
                        i.fa.fa-search
                        p Search



block main

    block main

            #welcome
                p.welcome WELCOME

                .row
                .row
                a.h2 Send E-mail

            .content


                form(action='/api/v1/company', method='POST')
                    div.row
                        div.col.l7.s12
                            div(class="input-field")
                                select(name="company" id="company" required="true" multiple="true")
                                option(value="" disabled) Choose your companies
                                label

                            div(class="input-field")
                                input(name="subject" id="subject" type="text" required="true")
                                label Subject

                            div(class="input-field")
                                textarea#textarea1.materialize-textarea
                                label(for="textarea1") Message


                    div.row
                        div.col.l7.s12
                            div.buttons.center
                                button(type="submit" class="waves-effect waves-light btn") Send






