extends layout

block append stylesheet
    link(rel="stylesheet", href="/assets/css/spamEmail.css")

block main
    #main
        h2 Send e-mail to someone@example.com:
        .content
            form(action='mailto:someone@example.com', method='post', enctype='text/plain')
            | Name:
            br
            input(type='text', name='name')
            br
            | E-mail:
            br
            input(type='text', name='mail')
            br
            | Comment:
            br
            input(type='text', name='comment', size='50')
            br
            br
            input(type='submit', value='Send')
            input(type='reset', value='Reset')

            div.row
                div.col.l7.s12
                    div.buttons.center
                        button(type="submit" class="waves-effect waves-light btn") Send
                        button(type="submit" class="waves-effect waves-light btn materialize-red") Reset
