/* General styles
 **************************************************/
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/BVtM30trf7q_jfqYeHfjtA.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/oUan5VrEkpzIazlUe5ieaA.woff) format('woff');
}

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: #4D4D4D;
}

a,a:hover,a:focus {
    text-decoration: none;
    outline: 0;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

/* mobile menu
 **************************************************/
.mobilemenu {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1002;
    font-size: 30px;
    padding: 2px 10px;
    background: #2b2b2b;
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    display: none;
}

.mobilemenu:hover,.mobilemenu:focus {
    color: #fff;
}

/* layout
 **************************************************/
#top-space{
    top:0;
    left:0;
    right:0;
    height: 149px;
    width: auto;
    text-align: left;
    border-bottom: 1px solid black;
    vertical-align: top;
    position: absolute;
    overflow: hidden;
    background-image: url(../img/homepage-top-image.png);
}
#top-space p.logo{
    font-size: 400%;
    color: white;
}
#main-nav {
    text-align: left;
    vertical-align: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 250px;
    background: #2b2b2b;
    position: absolute;
    left: 0;
    top: 150px;
    bottom: 45px;
    overflow: auto;
}

#main {
    position: absolute;
    left: 250px;
    right: 0;
    top: 150px;
    bottom: 0;
    background: #fefefe;
    overflow: auto;
}

/* sidebar
 **************************************************/
#nav-container {
    position: relative;
    padding-bottom: 75px;
    bottom: 0;
    height: 100%;
}

#profile {
    text-align: center;
    padding: 30px 10px;
    position: relative;
}

#profile .portrate {
    background-image: url(../img/logo-sony.png);
    width: 125px;
    margin: 0 auto;
    height: 125px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#profile .title h2 {
    font-size: 28px;
    font-weight: 300;
    color: #fff;
    margin: 20px 0 10px 0;
}

#profile .title h3 {
    font-size: 18px;
    font-weight: 300;
    color: #aaa;
    margin: 0px 0 10px 0;
}

ul#navigation {
    padding: 0;
    margin: 0;
}

ul#navigation li {
    display: block;
    float: none;
    clear: both;
    background: #303030;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #2B2B2B;

    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    -ms-transition: background 0.5s;
    transition: background 0.5s;
}

ul#navigation li a {
    color: #ccc;
    font-size: 14px;
}

ul#navigation li:hover,ul#navigation li:focus {
    background: #363636;
}

ul#navigation li:hover a,ul#navigation li:focus a {
    color: #f7f7f7;
}

ul#navigation li .text {
    padding-left: 5%;
    margin-left: 50px;
    line-height: 45px;

    -webkit-box-shadow: -3px 0 5px -4px #000;
    box-shadow: -3px 0 5px -4px #000;
}

ul#navigation li .icon {
    float: left;
    width: 50px;
    text-align: center;
}

ul#navigation li .icon img{
    padding: 4px 0;
}

.social-icons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f6755e;
    width: 250px;
    z-index: 2;
    height: 45px;
}

.social-icons ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-icons li {
    float: left;
    width: 33%;
    padding: 10px;
    text-align: center;
}

.social-icons a {
    color: #ccc;
}

.social-icons a:hover,.social-icons a:focus {
    color: #fff;
}

.social-icons i {
    font-size: 16px;
}

/* main part
 **************************************************/

div#welcome{
    text-align: center;
    background-color: #e1e1e1;
}
p.welcome{
    padding: 3% 0;
    color: #f6755e;
    font-size:40px;
    letter-spacing: 30px;
    margin: auto;
}
div#info{
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    overflow: auto;
}
div#info div{
    padding-left: 5%;
    padding-right: 5%;
    float:left;
    height:25%;
    width: 25%;
}
div#info p{
    margin: 10px;
    font-size: 20px;
    text-align: center;
}
div#info p.N{
    color: #25a2c3;
}
div#createRepr{
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 8%;
    text-align: right;
}
div#separateContext{
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    width: auto;
}
div#separateContext div#line{
    height: 0;
    padding-right: 10%;
    padding-left: 10%;
    border: 1px solid red;
}
div#separateContext div#textContent{
    margin-top: -35px;
}
div#separateContext div#textContent p{
    font-size: 20px;
    color:#25a2c3;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
div#LOR{
    padding-right: 10%;
    padding-left: 10%;
    height: 100px;
    width: auto;
}
div#LOR ul{
    height: 100%;
    width: auto;
}
div#LOR ul li{
    list-style-type: none;
    padding-left: 5%;
    padding-right: 5%;
    width: 20%;
    height: 100%;
    float: left;
}
div#LOR ul li #pic{
    text-align: right;
    height: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    background-color: #e1e1e1;
    border-radius: 3px;
    border: 1px solid rgb(86, 180, 239);
}

div#LOR ul li p{
    text-align: center;
    margin: 0;
    height: auto;
}
