.content{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}

.photobox-wrapper{
    display: block;
    text-align: center;
    margin-top: 40px;
}
.photobox{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    background-color: #e1e1e1;
    border: 1px solid #25a2c3;
}
.photobox .btn-floating{
    top: 175px;
}

.buttons{
    padding-top: 20px;
}

form .buttons button,
form .buttons a{
    width: 150px;
    margin-right: 40px;
}
form .buttons button:last-child,
form .buttons a:last-child{
    margin-right: 0;
}
