.content{
    width: 80vw;
    min-width: 1280px;
    padding: 40px 0 0 0;
   // margin-top: 40px;
}

.breadcrumb{
    color: #25a2c3;
}

.breadcrumb:before{
    margin-top: -5px;
    color: #4D4D4D;
}

.breadcrumb:hover{
    color: #f6755f;
    cursor: pointer;
}

.breadcrumb:last-child{
    color: #f6755f;
}

.breadcrumb:last-child:hover{
    cursor: default;
}

#cat-list-wrapper {
    padding: 0 30px;
}

#cat_list .collection-header h4{
    font-size: 1.7rem;
    color: #25a2c3;
    margin: 0.1em 0;
}
.collection.with-header .collection-header{
    border-bottom: 2px solid #4D4D4D;
}
#cat_list .collection-item{
    background-color: #f7f6f6;
    border-color: rgba(0,0,0,0.1);
}

#cat_list .collection-item:hover{
    background-color: #f6755f;
    color: #fff
}

#cat_list a.collection-item{
    color: #000000;
}

#cat_list a.collection-item:hover{
    cursor: pointer;
}

#product-container {
    padding: 10px 30px;
}

#product_image {
    width: 100%;
}

.product-details-left-column {
    padding-left: 20px;
}
#product_name {
    color: #25a2c3;
    font-size: 1.7rem;
    font-weight: 600;
}

#product_brand {
    color: #4d4d4d;
    font-size: 1.2rem;
    font-weight: 600;
}

#product_description {
    color: #4d4d4d;
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    text-align: justify;
}

ul#product-gallery {
    width: 90%;
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: 130px;
}

ul#product-gallery li{
    padding: 0 10px;
}

ul#product-gallery li img{
    height: 100px;
    width: 100px;
}

#manuals-header {
    font-size: 1.4rem;
}