/*header {
    justify-content: space-around;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    background-color: #f6755e;
    background: url(../img/homepage-top-image.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

header {
    max-height: 84px;
}

main {
    width: 100%;
}

#header {
    padding: 0 7vw;
}

#btn_cat{
    position: absolute;
    top: 90px;
    margin-left: 60px;
    min-width: 200px;
}
#dropdown1{
    margin-left: 60px;
    margin-top: 40px;
    min-width: 150px;
}

#search-widget {
    background: url(../img/bg/main_page_bg.jpg) no-repeat center center scroll;
    max-height: 730px;
    height: 39vw;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 15px -8px;
}

#search-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

#welcome-title {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

#welcome-title h4{
    font-family: Raleway, "Open Sans", sans-serif;
    font-weight: bolder;
    font-size: 3.5em;
    letter-spacing: 0.02em;
}

#welcome-title h5{
    font-family: "Open Sans", sans-serif;
    font-size: 1.6em;
    font-weight: normal;
}

#search-field-wrapper {
    margin-top: 30px;
}

.search-container {
    width: 38vw;
    min-width: 400px;
    height: 45px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
}

#search-field {
    width: 80%;
}

#search-field input{
    background-color: #fff;
    margin: 0;
    border-radius: 3px 0 0 3px;
    padding: 0 10px;
    border: 0;
    height:100%;
    box-sizing: border-box;
}

#search-button {
    height:100%!important;
    border-radius: 0 3px 3px 0;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    background: #f6755f;
}

#search-button > i{
    font-size: 100%;
}

#search-button > input{
    height: 100%;
    width: 100%;
}

#browse-categories {
    margin-top: 50px;
    box-shadow: none;
    border-radius: 3px;
    background-color: #4d4d4d;
    font-weight: bold;
    font-size: 0.9rem;
}

#browse-categories:hover{
    background-color: #676c6c;
    transition: background-color 1s ease-out;
}

#numbers-wrapper{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

#stat-numbers {
    width: 65%;
    min-width: 400px;
    background-color: #fff;
    height: 100%;
    align-self: center;
    border-radius: 4px;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.1);
    display: inline-flex;
    padding: 20px 0;
}

.stat-item {
    width: 25%;
    height: 100%;
    padding: 3px 0;
    font-family: "Open Sans", sans-serif;
}
.stat-item p {
    margin: 0;
    text-align: center;
}

.stat-item p.number {
    color: #343434;
    font-weight: bold;
    font-size: 1.5em;
}

.stat-item p.number-label {
    color: #717171;
}


.separate-line {
    height: 100%;
    width: 1px;
    background-color: #717171;
    opacity: 0.3;
}

#main-content {
    width: 100%;
    background-color: #fff;
    min-height: 80px;
    text-align: center;
}

/*   categories list
**************************************************/
#categories-list-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
#categories-list-wrapper {
    width: 70%;
}

#categories-list-header {
    border-bottom: solid 1px #4d4d4d;
    display: flex;
    justify-items: flex-start;
}

#categories-list-header .title {
    text-transform: uppercase;
    color: #25a2c3;
    font-family: Raleway, "Open Sans", sans-serif;
    font-weight: 800;
    border-bottom: solid 2px #f6755f;
    padding: 1px 9px;
}
ul#categories-list {
    display: flex;
    flex-flow: row wrap;
}
ul#categories-list li {
    width: 25%;
}

ul#categories-list li a{
    display: inline-flex;
    align-items: center;
    width: 100%;
}

ul#categories-list .category-name-icon {
    color: #25a2c3;
    font-weight: bold;
    font-size: 1.2em;
}

ul#categories-list .category-name {
    padding-left: 6px;
    margin: 0;
    text-transform: uppercase;
    font-family: Raleway, "Open Sans", sans-serif;
    font-weight: 800;
    color: #4d4d4d;
    letter-spacing: 2px;
    font-size: 0.9em;
}

ul#categories-list .category-amount {
    color: #a4a3a3;
    padding-left: 4px;
}
/*   recent products block
*************************************************/
#recent-products{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 20px 0;
}

h4#recent-products-header {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: bold;
    color: #f6755f;
    letter-spacing: -1px;
    text-align: center;
}

#recent-products-list-wrapper {
    width: 100%;
    background-color: #f4f4f4;
    border-top: 1px solid #7cc7db;
    border-bottom: 1px solid #7cc7db;
    min-height: 80px;
    display: flex;
    justify-items: center;
    justify-content: center;
}

ul#recent-products-list {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0;
}

ul#recent-products-list li {
    min-width: 150px;
    width: 20%;
    height: auto;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

ul#recent-products-list li img {
    height: 100px;
    width: 100px;
}

ul#recent-products-list li h6 {
    color: #25a2c3;
    font-weight: bold;
    font-size: 1em;
    margin: 0;
}

#load-more-button-wrapper {
    text-align: center;
}

a#load-more-button {
    width: 150px;
    display: inline-flex;
    align-items: center;
    margin: 20px 0;
    font-weight: bold;
    font-size: 1.2em;
}

a#load-more-button p {
    margin: 0 0 0 10px;
}

ul#recent-products-list li a.btn-floating{
    border-radius: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;

    position: absolute;
    margin-top: 75px;
    margin-left: -15px;
}

ul#recent-products-list li a.btn-floating i{
    line-height: 25px;
    font-size: 1rem;
}

ul#recent-products-list li a.remove-selection{
    background-color: #4D4D4D;
}

