body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header {
    height: 15vh;
    z-index: 100;
}

header nav{
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
    line-height: 6em;

    min-height: 70px;
    height: 14vh;
    max-height: 84px;
}


.nav-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#top-space{
    top:0;
    left:0;
    right:0;
    width: auto;
    height: 16vh;
    max-height: 115px;
    min-height: 70px;
    text-align: left;
    vertical-align: top;
    position: fixed;
    background: linear-gradient(to right, #7cc7db, #faac9e);
    background-size: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
    display: flex;
    align-items: flex-start;
    border-bottom: solid 4px #6c8790;
    box-sizing: border-box;
    z-index: 30;
}

#top-space-nav-bar {
    height: 85%;
    max-height: 84px;
    width: 100%;
    background: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
    padding: 0 7vw;
}
.homepage-link{
    height: 100%;
    display: flex;
    align-items: center;
}

header img.logo-pic{
    margin-left: 2vw;
    height: 70%;
}

header nav .button{
    padding: 0 2em;
    height: 3.25em;
    line-height: 3.25em;
}

button, header
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #f6755f;background-color: #f6755f;
    border-radius: 4px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    height: 3.5em;
    line-height: 3.5em;
    padding: 0 3.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
}

button.alt,
.button.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #dee1e3;
    color: #727a82 !important;
}

button.alt:hover,
.button.alt:hover {
    background-color: rgba(144, 144, 144, 0.075);
}

button.alt:active,
.button.alt:active {
    background-color: rgba(144, 144, 144, 0.2);
}

.user-login {
    height: 100%;
}

.user-login li {
    height: 100%;
    display: flex;
    align-items: center;
}

.user-login ul.dropdown-content li{
    display: block;
}

.user-login li a.login-btn,
.user-login li a.profile-btn{
    display: flex;
    flex-direction: row;
}

.user-login .profile-pic{
    height: 3.25em;
    width: 3.25em;
    margin-right: 10px;
}

#dropdown_user {
    margin-top: 4em;
}

#main-footer .row {
    margin-bottom: 15px;
    font-size: 1rem;
    text-align: right;
    }

#main-footer .footer-copyright {
    padding: 2px 0;
    min-height: 30px;
    text-align: left;
    font-size: 0.80rem;
}


/* search field
*****************************/

.header-search-container {
    width: 38%;
    min-width: 400px;
    height: 35px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
}

input#header-search-field {
    background-color: #fff;
    margin: 0;
    border-radius: 3px 0 0 3px;
    padding: 0 10px;
    height:100%;
    box-sizing: border-box;
    width: 356px;
    border-color: #818181;
    border-style: solid;
    border-width: 1px 0 1px 1px;
}

#header-search-button {
    height:100%!important;
    min-width: 118px;
    width: 25%;
    border-radius: 0 3px 3px 0;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    background: #f6755f;
    box-sizing: border-box;
}

#header-search-button i{
    font-size: 100%;
    line-height: 64px;
    height: 64px;
}

#header-search-button p{
    height: 100%;
    width: 100%;
    margin-left: 6px;
    padding: 2px 0;
    min-height: 30px;
    text-align: left;
    font-size: 0.80rem;
}

#user-nav-ul {
    width: 275px;
}