body {
    font-size: 16px;
    font-weight: 400;
    background: #4D4D4D;
}

a,a:hover,a:focus {
    text-decoration: none;
    outline: 0;
}

footer {
    display:none;
}


/* mobile menu
 **************************************************/
.mobilemenu {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1002;
    font-size: 30px;
    padding: 2px 10px;
    background: #2b2b2b;
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    display: none;
}

.mobilemenu:hover,.mobilemenu:focus {
    color: #fff;
}

/* layout
 **************************************************/

#sidebar {
    text-align: left;
    vertical-align: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 14vw;
    min-width: 150px;
    background: #2b2b2b;
    position: fixed;
    left: 0;
    top: 15vh;
    overflow-y: hidden;
    bottom: 0;
}

#main {
    position: absolute;
    right: 0;
    top: 15vh;
    bottom: 0;
    background: #fefefe;
    overflow-y: auto;
    overflow-x: hidden;
    width: 86vw;
    //height: auto;
    height: 85vh;
    left: 14vw;
}

/* sidebar
 **************************************************/
#nav-container {
    position: relative;
   // padding-bottom: 75px;
    bottom: 0;
    height: 100%;
}

#profile {
    text-align: center;
    padding: 25px 10px;
    position: relative;
}

#welcome-repr h2{
    font-weight: 300;
    color: #f6755e;
    font-family: Raleway;
    font-size: 2em;
    text-align: center;
    margin: 0!important;
    padding: 30px 0 0 0;
}

#profile .portrate {
    background-image: url(../img/representative-placeholder.jpg);
    width: 125px;
    margin: 0 auto;
    height: 125px;
    border-radius: 50%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#profile .title h2 {
    font-size: 1.4em;
    font-weight: 300;
    color: #fff;
    margin: 20px 0 10px 0;
    font-family: Source Sans Pro, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

ul#navigation {
    padding: 0;
    margin: 0;
}

ul#navigation li {
    float: none;
    clear: both;
    background: #303030;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #2B2B2B;

    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    -ms-transition: background 0.5s;
    transition: background 0.5s;
}

ul#navigation li a {
    color: #ccc;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

ul#navigation li:hover,ul#navigation li:focus {
    background: #363636;
}

ul#navigation li:hover a,ul#navigation li:focus a {
    color: #f7f7f7;
}

ul#navigation li .text {
    padding-left: 5%;
    line-height: 42px;
    width: 100%;
    -webkit-box-shadow: -3px 0 5px -4px #000;
    box-shadow: -3px 0 5px -4px #000;
}

ul#navigation li .icon {
    width: 50px;
    text-align: center;
    font-size: 180%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.sidebar-active .text {
    background: #25a2c3;
}

.sidebar-active .icon {
    color: #25a2c3;
}

/* main part
 **************************************************/

div#company-logo{
    text-align: center;
    width: 100%;
    height: 185px;
    padding: 27px 0;
}
#company-logo .company-logo{
    background-image: url(../img/logo-sony.png);
    width: 125px;
    height: 125px;
    color: #25a2c3;
    margin: auto;
    border: 2px solid #25a2c3;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
div#manuals-list-header{
    padding: 3% 10% 0.5% 10%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div#manuals-list-header #manuals-list-title{
    width: 100%;
    text-align: center;
    float: left;
    font-size: 22px;
    color: #e7434e;
    font-weight: 300;
    font-family: 'Raleway', 'Open Sans', sans-serif;
}

div#createProd{
    padding: 3px;
    font-size: 150%;
}
div#separateContext{
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    width: auto;
}
div#separateContext div#line{
    height: 0;
    padding-right: 10%;
    padding-left: 10%;
    border: 1px solid #b9b9b9;
}

div#LOM{
    padding-right: 10%;
    padding-left: 10%;
    width: auto;
    height: 100%;
}
div#LOM ul{
    height: 120%;
    width: auto;
}

div#LOM ul li #product-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

div#LOM ul li .product-pic{
    height: 100%;
    padding: 10px;
    width: 13%;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#LOM ul li .product-pic .pic{
    text-align: right;
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

div#LOM ul li .product-info{
    width: 77%;
    height: 100%;
    padding: 20px 10px;
}

div#LOM ul li .product-info h3{
    color: #25a2c3;
    font-family: "Open Sans";
    font-size: 18px;
    margin: 0!important;
}

div#LOM ul li .product-info h3:hover{
    color: #f6755f;
}

div#LOM ul li .product-info p{
    color: #515151;
    font-family: "Open Sans";
    font-size: 14px;
}

div#LOM ul li .product-edit, div#LOM ul li .product-delete {
    width: 5%;
    text-align: center;
}

div#footer-block {
    width: 100%;
    height: 15%;
    background: #404040;
    position:absolute;                  /* added */
    bottom:0;                           /* added */
    left:0;
}

#btn_cat{
    min-width: 150px;
    background-color: white;
    box-shadow: none;
    color:black;
}
#dropdown1{
    margin-top: 40px;
    min-width: 100px;
}
#dropdown1 a{
    color:black;
}
#order{
    margin-left: 10px;
}
.product-info p1{
    color: #aaaaaa;
    font-size: 15px;
}